@font-face {
    font-family: "TiredOfCourier";
    src: url("typeface/TiredOfCourier_Plain.ttf") format("ttf");
    src: url("typeface/TiredOfCourier_Italic.ttf") format("ttf");
    src: url("typeface/TiredOfCourier_Bold.ttf") format("ttf");
  }

h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 1.75rem;
}

body {
    background-color: #CCCCCC;
}

p {
    font-family: "TiredOfCourier";
}

ul.main {
    list-style: none;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 3rem;
}

div {
    height: 500px;
}

li {
    margin-bottom: 2rem;
    margin: 0;
    font-family: "TiredOfCourier";
    padding-bottom: 4.5rem;
}

nav p {
    font-family: "TiredOfCourier";
    font-weight: bold;
    text-align: center;
    color: crimson;
    font-size: 2.5rem;
    padding-bottom: 0;
    margin: 0;
}

nav {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding-bottom: 0;
}

.ascii {
    font-family: 'Courier New', Courier, monospace;
    width: 700px;
}

.sticky {
    position: sticky;
    top: 0.5rem;
}

.first {
    color: red;
}

.second {
    color: blue;
}

li img {
    width: 100px;
    border: 1px solid white;
}

h1 {
    font-size: 2.5rem;
    color: black;
}

a {
    color: black;
}

a:hover {
    color: yellow;
}
